.cooperator_logo {
    display: inline-block;
    margin-left: 0px;
    margin-top: 0px;
}

 h1, h2 {
    margin: 0;
 }

.water-stats-table td {
    text-align: center;
}

.provider-logo {
  img {
    width: auto;
    height: auto;
  }
}
