.cooperator_logo {
  display: inline-block;
  margin-left: 0;
  margin-top: 0;
}

h1, h2 {
  margin: 0;
}

.water-stats-table td {
  text-align: center;
}

.provider-logo {
  max-height: 150px;
  display: inline-block;
  margin-left: 0;
  margin-top: 0;
}

.pagination {
  li {
    display: inline-block;
    margin-left: 0.6rem;
    padding: .8rem;
    @include u-border('solid');
    @include u-border(1px);
    @include u-radius('md');

    a {
      text-decoration: none;
    }
  }

  .active {
    background-color: color('gray-20');
  }

  .disabled {
    border: none;

    a {
      cursor: not-allowed;
    }
  }
}
