__pycache__/
.pytest_cache/
assets/coverage/
assets/dist/
assets/node_modules/
server/instance/
server/.coverage
server/.cache
server/build
server/coverage
server/dev_cache.sqlite
server/dist
server/env
server/ngwmn_ui.egg-info
.sublimelinterrc
*.sublime-project
*.sublime-workspace
.idea/
