& {
    width: 100%;
    min-height: 33vw;
    &.loading {
        .loading-indicator {
            display: block;
            width: 100%;
            text-align: center;
        }
    }
    &.has-error {
        .error-indicator {
            display: block;
            width: 100%;
            text-align: center;
        }
    }
    .loading-indicator, .error-indicator {
        display: none;
    }
}
