& {
    width: 100%;
    min-height: 10vw;
    display: flex;
    flex-wrap: wrap;
    &.loading {
        .loading-indicator {
            display: block;
            width: 100%;
            text-align: center;
        }
    }
    &.has-error {
        .error-indicator {
            display: block;
            width: 100%;
            text-align: center;
        }
    }
    .loading-indicator, .error-indicator {
        display: none;
    }
    .y-label {
        flex-grow: 0;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        text-align: center;
        padding: 0 0 0 .5em;
    }
    svg.chart {
        flex-grow: 1;
        border: solid 1px grey;
    }
}
