& {
    text-align: left;
    max-height: 30rem;
    overflow: scroll;
}

h3 {
    margin: 1rem 0;
}

label,
input {
    display: inline-block;
    margin: 1rem 0;
}

label {
    padding-right: 2rem;
}

table {
    width: 100%;
    margin: 0;
    text-align: left;
}

#all:checked ~ table .screen,
#all:checked ~ table .casing,
#screens:checked ~ table .screen,
#casings:checked ~ table .casing {
    display: table-row;
}

.screen,
.casing {
    display: none;
}

tr {
    &.screen {
    }
    &.selected {
        td {
            background-color: #ffffe6;
            transition: background-color .25s;
        }
    }
}

/** added this section to test tabs **/
.tabs {
	display: flex;
	flex-wrap: wrap;
	background: #205493;
    border-top: solid black 2px;
    border-left: solid black 2px;

    .inputRadioButtonTab {
        position: absolute;
        opacity: 0;
    }

    .labelRadioButtonTab {
        width: 100%;
        padding: 20px 30px;
        background: #205493;
        cursor: pointer;
        font-weight: bold;
        font-size: 18px;
        color: white;
        transition: background 0.1s, color 0.1s;
        margin: 0px;
    }

    .labelRadioButtonTab:active {
        background: white;
    }

    .inputRadioButtonTab:checked + .labelRadioButtonTab {
        background: white;
        border-right: 2px;
        color: black;
    }

    @media (min-width: 600px) {
        .labelRadioButtonTab {
            width: auto;
        }
    }

    .panel {
        display: none;
        padding: 30px 30px 30px;
        background: #fff;
    }

    @media (min-width: 600px) {
        .panel {
            order: 99;
        }
    }

    .inputRadioButtonTab:checked + .labelRadioButtonTab + .panel {
        display: block;
    }

    .inputRadioButtonTab:focus + .barSelect {
        box-shadow: inset 0px 0px 0px 3px #2aa1c0;
	    z-index: 1;
    }

.inputRadioButtonTab {
    flex-basis: auto;
}

    .barSelect {
        padding: 8px 10px;
        background: #205493;
    }
}

