& {
    text-align: left;
    max-height: 30rem;
    overflow: scroll;
}

h3 {
    margin: 1rem 0;
}

label,
input {
    display: inline-block;
    margin: 1rem 0;
}

label {
    padding-right: 2rem;
}

table {
    width: 100%;
    margin: 0;
    text-align: left;
}

#all:checked ~ table .screen,
#all:checked ~ table .casing,
#screens:checked ~ table .screen,
#casings:checked ~ table .casing {
    display: table-row;
}

.screen,
.casing {
    display: none;
}

tr {
    &.screen {
    }
    &.selected {
        td {
            background-color: #ffffe6;
            transition: background-color .25s;
        }
    }
}

/** Formats tabs for the construction and lithology tables **/
.tabs {
	display: flex;
	flex-wrap: wrap;
	background-color: #205493;
    border-top: solid black 2px;
    border-left: solid black 2px;
    width: 100%;

    .inputRadioButtonTab {
        position: absolute;
        opacity: 0;
    }

    .labelRadioButtonTab {
        width: 100%;
        padding: 20px 30px;
        background-color: #205493;
        cursor: pointer;
        font-weight: bold;
        font-size: 18px;
        color: white;
        transition: background 0.1s, color 0.1s;
        margin: 0;
    }

    .labelRadioButtonTab:active {
        background-color: white;
    }

    .inputRadioButtonTab:checked + .labelRadioButtonTab {
        background-color: white;
        border-right: 2px;
        color: black;
    }

    @media (min-width: 600px) {
        .labelRadioButtonTab {
            width: auto;
        }
    }

    .panel {
        display: none;
        background-color: #fff;
    }

    @media (min-width: 600px) {
        .panel {
            order: 99;
            width: 100%;
        }
    }

    .inputRadioButtonTab:checked + .labelRadioButtonTab + .panel {
        display: block;
    }

    .inputRadioButtonTab:focus + .barSelect {
        box-shadow: inset 0 0 0 3px #2aa1c0;
	    z-index: 1;
    }

    .barSelect {
        padding: 8px 10px;
        margin-bottom: 3px;
    }
}


/** added to make table data easy to read on narrow viewports format **/
	@media
	  only screen
    and (max-width: 760px), (min-device-width: 768px)
    and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
        margin: 0 0 1rem 0;
    }

    tr:nth-child(odd) {
        border-top: solid black 2px;
        border-bottom: solid black 2px;
        margin: 0;
    }

		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

		.lithologyTable td:nth-of-type(1):before { content: "Depth from"; }
		.lithologyTable td:nth-of-type(2):before { content: "Depth to"; }
		.lithologyTable td:nth-of-type(3):before { content: "Lithology"; }
		.lithologyTable td:nth-of-type(4):before { content: "Description"; }

        .constructionTable td:nth-of-type(1):before { content: "Legend"; }
        .constructionTable td:nth-of-type(2):before { content: "Depth"; }
        .constructionTable td:nth-of-type(3):before { content: "Description"; }
	}
