<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="{{ 'main.css' | asset_url }}">
        {% block extra_head_tags %}{% endblock %}
        {% block page_script %}{% endblock %}
        <title>
            {% block title %}{% if page_title %}{{ page_title }} - {% endif %}National Ground Water Monitoring Network{% endblock %}
        </title>
    </head>
    <body {% if body_id %}id="{{ body_id }}"{% endif %}>
        {% block body %}{% endblock %}
    </body>
</html>
