<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="{{ 'main.css' | asset_url }}">
        <script>
            window.CONFIG = {
                'SERVICE_ROOT': '{{ config.SERVICE_ROOT }}',
                'STATIC_ROOT': '{{ config.STATIC_ROOT }}'
            };
        </script>
        <script async src="{{ 'bundle.js' | asset_url }}"></script>
        {% block extra_head_tags %}{% endblock %}
        {% block page_script %}{% endblock %}
        <title>
            {% block title %}{% if page_title %}{{ page_title }} - {% endif %}National Ground Water Monitoring Network{% endblock %}
        </title>
    </head>
    <body {% if body_id %}id="{{ body_id }}"{% endif %}>
        <script>document.body.className += ' js';</script>
        {% block body %}{% endblock %}
        {% if config.LIVE_RELOAD_PATH %}
            <script>
                if (window.WebSocket) {
                    (function () {
                        function refreshCSS() {
                            var sheets = [].slice.call(document.getElementsByTagName('link'));
                            var head = document.getElementsByTagName('head')[0];
                            for (var i = 0; i < sheets.length; ++i) {
                                var elem = sheets[i];
                                head.removeChild(elem);
                                var rel = elem.rel;
                                if (elem.href && typeof rel != 'string' || rel.length == 0 || rel.toLowerCase() == 'stylesheet') {
                                    var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
                                    elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + new Date().valueOf();
                                }
                                head.appendChild(elem);
                            }
                        }
                        var socket = new window.WebSocket('{{ config.LIVE_RELOAD_PATH }}');
                        socket.onmessage = function (msg) {
                            if (msg.data == 'reload') window.location.reload();
                            else if (msg.data == 'refreshcss') refreshCSS();
                        };
                        console.log('Live reload enabled.');
                    })();
                }
            </script>
        {% endif %}
    </body>
</html>
