{% extends 'base.html' %}

{% import 'macros/components.html' as components %}

{% if organization %}
    {% set page_title = feature.SITE_NAME + ' - ' + organization %}
{% else %}
    {% set page_title = feature.SITE_NAME %}
{% endif %}

{% set logo_agency_id = 'img/provider_logos/' + feature.AGENCY_CD | lower + '_logo.png' %}
{% set body_id = 'site-location' %}

{% block page_script %}<script>window.wellLog = {{ well_log | tojson | safe }}</script>{% endblock %}

{% macro _(value, default='-') -%}
    {{ value if value is not none else default }}
{%- endmacro %}

{% block content %}
    <h1>{{ feature.SITE_NAME }}</h1>
    {% if organization %}<h2 class="usa-font-lead">{{ organization }}</h2>{% endif %}
    <div>
        {{ components.LithologyPatterns(lithology_ids) }}
        <div class="grid-row grid-gap-2">
            <div class="desktop:grid-col-6">
                {{ components.Graph('water-levels', feature.AGENCY_CD, feature.SITE_NO) }}
            </div>
            <div class="grid-col-2 desktop:grid-col-1">
                {{ components.Graph('construction', feature.AGENCY_CD, feature.SITE_NO) }}
            </div>
            <div class="grid-col-10 desktop:grid-col-5">
                {{ components.WellLog(feature.AGENCY_CD, feature.SITE_NO, well_log) }}
            </div>
        </div>
        <ul class="usa-accordion">
            <li>
                <button class="usa-accordion-button" aria-expanded="false" aria-controls="ts-a1">
                    Summary
                </button>
                <div id="ts-a1" class="usa-accordion-content">
                    <div>
                        <h4>Description</h4>
                        <p>
                            This site is a {{ feature.SITE_TYPE }}. It is named "{{ feature.SITE_NAME }}"
                            and has the identifier {{ feature.AGENCY_CD }}-{{ feature.SITE_NO }}.<br/>
                            This site information was provided by {{ feature.AGENCY_NM }}.
                            This site is associated with <br/>
                            the {{ feature.NAT_AQFR_DESC }} National Principal Aquifer and
                            is located in {{ feature.COUNTY_NM }}, {{ feature.STATE_NM }}.
                        </p>
                    </div>
                    <table class="usa-table usa-table-borderless">
                        <tbody>
                            <tr>
                                <th scope="row">Agency</th>
                                <td>{{ _(feature.AGENCY_NM) }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Site Name</th>
                                <td>{{ _(feature.SITE_NAME) }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Site Number</th>
                                <td>{{ _(feature.SITE_NO) }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Site Type</th>
                                <td>{{ _(feature.SITE_TYPE) }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Lat/Long ({{ feature.HORZ_DATUM }})</th>
                                <td>{{ _(feature.DEC_LAT_VA | round(4)) }}, {{ _(feature.DEC_LONG_VA | round(4)) }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Well Depth</th>
                                <td>{{ _(feature.WELL_DEPTH) }} {{ feature.WELL_DEPTH_UNITS_NM }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Local Aquifer Name</th>
                                <td>{{ _(feature.LOCAL_AQUIFER_NAME) }} ({{ feature.LOCAL_AQUIFER_CD }})</td>
                            </tr>
                            <tr>
                                <th scope="row">National Aquifer Name</th>
                                <td>{{ _(feature.NAT_AQFR_DESC) }} ({{ feature.NAT_AQUIFER_CD }})</td>
                            </tr>
                            <tr>
                                <th scope="row">Aquifer Type</th>
                                <td>{{ _(feature.AQFR_CHAR) }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Water-Level Well Type</th>
                                <td>{{ _(feature.WL_WELL_TYPE_DESC) }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Water-Level Well Characteristics</th>
                                <td>{{ _(feature.WL_WELL_CHARS_DESC) }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Water Quality Network</th>
                                <td>{{ _(feature.QW_SYS_NAME) }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Additional info</th>
                                <td><a href="{{ feature.LINK }}">Link</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <button class="usa-accordion-button" aria-expanded="false" aria-controls="ts-a2">
                    Water Quality
                </button>
                <div id="ts-a2" class="usa-accordion-content">
                    <table class="usa-table usa-table-borderless">
                        <thead>
                            <th scope="col">Activity Start Date</th>
                            <th scope="col">Activity Start Time</th>
                            <th scope="col">Characteristic Name</th>
                            <th scope="col">Measure Value</th>
                            <th scope="col">Units</th>
                            <th scope="col">Detection Limit</th>
                            <th scope="col">Value Type</th>
                            <th scope="col">Sample Fraction</th>
                            <th scope="col">Method Name</th>
                            <th scope="col">Analytical Method System</th>
                            <th scope="col">Sample Method ID</th>
                            <th scope="col">Sample Method ID Context</th>
                            <th scope="col">Sample Method Name</th>
                            <th scope="col">Activity Type Code</th>
                            <th scope="col">Data Provided By</th>
                        </thead>
                        <tbody>
                            {% for activity in water_quality_activities %}
                                {% for result in activity['results'] %}
                                    <tr>
                                        <td>{{ activity.description.start_date }}</td>
                                        <td>{{ activity.description.start_time.time or '' }} {{ activity.description.start_time.time_zone_code or '' }}</td>
                                        <td>{{ result.description.characteristic_name }}</td>
                                        <td>{{ result.description.measure.value or result.description.detection_condition_text }}</td>
                                        <td>{{ result.description.measure.unit_code or '' }}</td>
                                        <td>{{ result.lab_information.detection_quantitation_limit.measure.value or '' }}</td>
                                        <td>{{ result.description.value_type_name }}</td>
                                        <td>{{ result.description.sample_fraction_text or '' }}</td>
                                        <td>{{ result.analytical_method.name }}</td>
                                        <td>{{ result.analytical_method.identifier_context }}</td>
                                        <td>{{ activity.sample_description.collection_method.identifier }}</td>
                                        <td>{{ activity.sample_description.collection_method.identifier_context }}</td>
                                        <td>{{ activity.sample_description.collection_method.name }}</td>
                                        <td>{{ activity.description.type_code }}</td>
                                        <td>{{ result.provider_name }}</td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <button class="usa-accordion-button" aria-expanded="false" aria-controls="ts-a3">
                    Well Log
                </button>
                <div id="ts-a3" class="usa-accordion-content">
                    <table class="usa-table usa-table-borderless">
                        <caption>Basic Well Information</caption>
                        <tbody>
                            <tr>
                                <th scope="row">Well depth</th>
                                <td>{% if well_log.well_depth %}
                                    {{ well_log.well_depth.value }} {{ well_log.well_depth.unit }}
                                {% endif %}</td>
                            </tr>
                                <th scope="row">Elevation {% if well_log.elevation %}({{ well_log.elevation.scheme }}){% endif %}</th>
                                <td>{% if well_log.elevation %}
                                    {{ well_log.elevation.value }} {{ well_log.elevation.unit }}
                                {% endif %}</td>
                            <tr>
                            </tr>
                                <th scope="row">Latitude</th>
                                <td>{% if well_log.location %}
                                    {{ well_log.location.latitude }}
                                {% endif %}</td>
                            <tr>
                            </tr>
                                <th scope="row">Longitude</th>
                                <td>{% if well_log.location %}
                                    {{ well_log.location.longitude }}
                                {% endif %}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="usa-table usa-table-borderless">
                        <caption>Detailed Lithology</caption>
                        <thead>
                            <th scope="col">Depth from</th>
                            <th scope="col">Depth to</th>
                            <th scope="col">Lithology</th>
                            <th scope="col">Description</th>
                        </thead>
                        <tbody>
                            {% for entry in well_log.log_entries %}
                                <tr>
                                    <td>{{ entry.shape.coordinates.start }} {{ entry.shape.unit }}</td>
                                    <td>{{ entry.shape.coordinates.end }} {{ entry.shape.unit }}</td>
                                    <td>{{ _(entry.unit.composition.lithology.value) }}</td>
                                    <td>{{ _(entry.unit.description) }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </li>

            {{ components.WaterLevelTable(feature.AGENCY_CD, feature.SITE_NO) }}

            <li>
                <button class="usa-accordion-button" aria-expanded="false" aria-controls="ts-a4">
                    Water Level Statistics
                </button>
                <div id="ts-a4" class="usa-accordion-content">

                    <table id="overall-stats" class="usa-table usa-table-borderless water-stats-table">
                        <caption>Overall Water Level Statistics ({{ stats.overall.alt_datum }})</caption>
                        <thead>
                            <tr class="light">
                                <th>Highest Water Level</th>
                                <th>Median Water Level</th>
                                <th>Lowest Water Level</th>
                                <th>First Measurement Date</th>
                                <th>Last Measurement Date</th>
                                <th>Number of Measurements</th>
                                <th>Years of Record</th>
                                <th>Latest Value</th>
                                <th>Latest Percentile</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ stats.overall.min_value }}</td>
                                <td>{{ stats.overall.median_value }}</td>
                                <td>{{ stats.overall.max_value }}</td>
                                <td>{{ stats.overall.min_date }}</td>
                                <td>{{ stats.overall.max_date }}</td>
                                <td>{{ stats.overall.sample_count }}</td>
                                <td>{{ stats.overall.record_years }}</td>
                                <td>{{ stats.overall.latest_value }}</td>
                                <td>{{ stats.overall.latest_pctile }}</td>
                            </tr>
                        </tbody>
                        <tfoot id="overall-water-level-stats-footer">
                            <tr>
                                <td colspan="9">Statistics Calculated {{ stats.overall.calc_date }}</td>
                            </tr>
                        </tfoot>
                    </table>
                    {% if stats.monthly|length > 0 %}
                    <table id="monthly-stats" class="usa-table usa-table-borderless water-stats-table">
                        <caption>Monthly Water Level Statistics ({{ stats.overall.alt_datum }})</caption>
                        <thead>
                            <tr class="light">
                                <th>Month</th>
                                <th>Lowest Median</th>
                                <th>10th Percentile</th>
                                <th>25th Percentile</th>
                                <th>50th Percentile</th>
                                <th>75th Percentile</th>
                                <th>90th Percentile</th>
                                <th>Highest Median</th>
                                <th>Number of Measurements</th>
                                <th>Years of Record</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for stat in stats.monthly %}
                                <tr>
                                    <td>{{ stat.month }}</td>
                                    <td>{{ stat.p50_min }}</td>
                                    <td>{{ stat.p10 }}</td>
                                    <td>{{ stat.p25 }}</td>
                                    <td>{{ stat.p50 }}</td>
                                    <td>{{ stat.p75 }}</td>
                                    <td>{{ stat.p90 }}</td>
                                    <td>{{ stat.p50_max }}</td>
                                    <td>{{ stat.sample_count }}</td>
                                    <td>{{ stat.record_years }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot id="monthly-water-level-stats-footer">
                            <tr>
                                <td colspan="10">Statistics Calculated {{ stats.overall.calc_date }}</td>
                            </tr>
                        </tfoot>
                    </table>
                    {% endif %}
                </div>

            </li>
        </ul>
    </div>
    <div>
        <h4>Data Provider</h4>
        <figure class="provider-logo">
            <img src="{{ logo_agency_id | asset_url }}" alt="logo for {{ feature.AGENCY_NM }}" height="50">
            <figcaption>{{ feature.AGENCY_NM }}</a></figcaption>
        </figure>
    </div>
{% endblock %}
