<footer class="usa-footer usa-footer--slim" role="contentinfo">
    <div class="usa-footer-primary-section">
        <div class="footer-nav">
            <a class="footer-link" href="mailto:gwdp_help@usgs.gov">Contact Us</a>
            <a class="footer-link" href="https://acwi.gov/">ACWI</a>
            <a class="footer-link" href="https://acwi.gov/sogw/index.html">SOGW</a>
            <a class="footer-link" href="https://owi.usgs.gov/">OWI</a>
            <a class="footer-link" href="https://www.usgs.gov/">USGS</a>
            <a class="footer-link" href="https://www.doi.gov">DOI</a>
        </div>
        <div class="footer-nav">
            <a class="footer-link" href="https://www.usgs.gov/laws/accessibility.html">Accessibility</a>
            <a class="footer-link" href="https://www.usgs.gov/foia/">FOIA</a>
            <a class="footer-link" href="https://www.usgs.gov/laws/privacy.html">Privacy</a>
            <a class="footer-link" href="https://www.usgs.gov/laws/policies_notices.html">Policies &amp; Notices</a>
            <a class="footer-link" href="https://www.usa.gov">USA.gov</a>
        </div>
        <div class="footer-nav">
            <span>USGS Office of Water Information, 12201 Sunrise Valley Drive, Reston, VA 20192</span>
        </div>
    </div>
</footer>
