header {
    border-bottom: solid 10px color(primary, vivid);
    .banner-container {
        a {
            color: $primary-lighter;
            text-decoration: none;
        }
        .logo {
            display: inline-block;
            img {
                vertical-align: bottom;
                height: 44px;
                margin: .5em;
                @include media($small-screen) {
                    height: 51px;
                    margin: 1em;
                }
                @include media($medium-screen) {
                    height: 58px;
                }
                @include media($large-screen) {
                    height: 65px;
                }
            }
        }
    }
}
