#header,
.usa-banner {
  color: black;
  background-color: white;
}

#header {
  margin-left: 0;
  padding-left: 0;
  border-bottom: solid 10px #0050d8;
}

#header .usa-banner__inner {
  margin-left: 0;
}

.banner-title {
  font-family: calibri, tahoma, arial, verdana, sans-serif;
  font-size: 1.4em;
  display: inline-block;
  @include at-media('tablet') {
    font-size: 1.5em;
  }
  @include at-media('desktop') {
    font-size: 2em;
  }
  a {
    text-decoration: none;
    vertical-align: middle;
    color: #233f8f !important;
  }
  img {
    display: none;
    @include at-media('mobile-lg') {
      display: inline;
    }
  }
}

.ngwmn-highlight {
  color: #d1544a;
}
