// USWDS Project theme palette
// _theme-palette-onondaga.scss

$neutral:                         black;
$theme-color-neutral-lightest:    $neutral, 2;
$theme-color-neutral-lighter:     $neutral, 10;
$theme-color-neutral-light:       $neutral, 30;
$theme-color-neutral-base:        $neutral, 50;
$theme-color-neutral-dark:        $neutral, 70;
$theme-color-neutral-darker:      $neutral, 70;

$primary:                         blue;
$theme-color-primary-lighter:     $primary, 10;
$theme-color-primary-light:       $primary, 30;
$theme-color-primary-base:        $primary, 50;
$theme-color-primary-vivid:       $primary, 50, vivid;
$theme-color-primary-dark:        $primary, 70;
$theme-color-primary-darker:      false;

$secondary:                       mint;
$theme-color-secondary-light:     $secondary, 50;
$theme-color-secondary-base:      $secondary, 60;
$theme-color-secondary-vivid:     $secondary, 50, vivid;
$theme-color-secondary-dark:      $secondary, 80;

$accent-warm:                     orange;
$theme-color-accent-warm-base:    $accent-warm, 50, vivid;
$theme-color-accent-warm-dark:    $accent-warm, 50, vivid;

$accent-cool:                     cyan;
$theme-color-accent-cool-base:    $accent-cool, 50, vivid;
$theme-color-accent-cool-dark:    $accent-cool, 50, vivid;
