$fa-font-path: './fonts' !default;
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
//@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';

// Look in node_modules/uswds/src/stylesheets/project for theme values that
// may be overridden here.
$theme-font-path: './fonts';
$theme-image-path: './img';
$theme-grid-container-max-width: 100%;
@import 'uswds';

@import './partials/footer';
@import './partials/header';
@import './partials/script';

.ngwmn-component {
    &[data-component='graph'] {
        @import './components/graph';
    }
    &[data-component='well-log'] {
        @import './components/well-log';
    }
}

body {
    #main-content {
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 0 1em;
    }
    &#site-location {
        @import './pages/site-location';
    }
}
#banner-title {
    float: right;
    font-family: calibri,tahoma,arial,verdana,sans-serif;
    font-size: 30px;
    text-decoration: none;

    a {
        color: #233f8f !important;
    }
    .ngwmn-highlight {
        color: #d1544a;
    }
}
