{# This component will request a remote resource and then insert it as a child into the DOM #}
{% macro SVGPattern(url, id) %}
    <div class="ngwmn-component" data-component="svg-pattern" data-url="{{ url }}" data-id="{{ id }}"></div>
{%- endmacro %}

{% macro Graph(agency_code, site_no, lithology_ids) -%}
    {# Insert lithology pattern defs #}
    {% for lith_id in lithology_ids %}
        {{ SVGPattern(('patterns/' ~ lith_id ~ '.svg') | asset_url, 'lithology-' ~ lith_id) }}
    {% endfor %}
    <div class="has-script">
        <div class="ngwmn-component loading" data-component="graph" data-siteID="{{ site_no }}" data-agencyCode="{{ agency_code }}">
            <div class="indicators">
                <i class="loading-indicator fas fa-5x fa-spin fa-spinner"></i>
                <i class="error-indicator fas fa-5x fa-exclamation-circle"></i>
            </div>
        </div>
    </div>
    <noscript>
        <div class="usa-alert usa-alert-warning">
            <div class="usa-alert-body">
                <h3 class="usa-alert-heading">Warning</h3>
                <p class="usa-alert-text">Javascript is required to view the interactive water-level graph.</p>
            </div>
        </div>
    </noscript>
{%- endmacro %}
