{% macro Graph(agency_code, site_no, lithology_ids) -%}
    {# Insert lithology pattern defs #}
    <svg height="79.6" width="79.4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
        <defs>
            {% for lith_id in lithology_ids %}
                <pattern id="lithology-{{ lith_id }}" patternUnits="userSpaceOnUse" width="53.2" height="53.4">
                    <image xlink:href="{{ ('img/lithology-patterns/' + lith_id|string + '.svg') | asset_url }}" x="0" y="0" width="53.2" height="53.4" />
                </pattern>
            {% endfor %}
        </defs>
    </svg>
    <div class="has-script">
        <div class="ngwmn-component loading" data-component="graph" data-siteID="{{ site_no }}" data-agencyCode="{{ agency_code }}">
            <div class="indicators">
                <i class="loading-indicator fas fa-5x fa-spin fa-spinner"></i>
                <i class="error-indicator fas fa-5x fa-exclamation-circle"></i>
            </div>
        </div>
    </div>
    <noscript>
        <div class="usa-alert usa-alert-warning">
            <div class="usa-alert-body">
                <h3 class="usa-alert-heading">Warning</h3>
                <p class="usa-alert-text">Javascript is required to view the interactive water-level graph.</p>
            </div>
        </div>
    </noscript>
{%- endmacro %}
